body {
  padding: 10px;
}

.first-box {
  border: 3px solid black;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.second-box {
  border: dotted black;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.third-box {
  border: 1px solid lightgray;
  width: 35%;
  margin: auto;
  padding: 65px;
  text-align: center;
  letter-spacing: 5px;
  box-shadow: 3px 3px 5px lightgray;
}

/* ELEMENTS FOR FIRST BOX  */

.sqr1 {
  background-color: blue;
  width: 50px;
  height: 150px;
  display: inline-block;
}

.sqr2 {
  background-color: green;
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 0 30px;
}

.crcl {
  background-color: lightblue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
}

/* ELEMENTS FOR SECOND BOX  */

.dropshadow {
  background-color: tan;
  width: 100%;
  height: 200px;
  box-shadow: 10px 10px 7px darkgray;
}
